body {
	background: white;
	color: black;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
}

.header {
    background-color: white;
    color: black;
    height: 64px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.header-mobile {
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    display: flex;
    justify-content: space-between;
}

.logo {
    order: 1;
    margin-top: 1rem;
    margin-right:1rem;    
}

.header-btn-nav {
    order: 2;
    height: 4rem;
    margin-right: 2rem;
    border: 0;
    border-radius: 5px;
    background-color: white;
}

.header-menu-navbar {
    background-color: white;
}

.header-menu-list {    
    height: 0;
    overflow:hidden;
    -webkit-transition: height .3s ease;
       -moz-transition: height .3s ease;
         -o-transition: height .3s ease;
            transition: height .3s ease;
}

.header-menu-list--show {
    height: 280px;
}

.header-menu-list-item a {
    text-decoration: none;
    color: black;
    width: 100%;
    padding: 1.5rem;
    display: block;
}

@media (min-width: 768px) {
    .header {
        display: -webkit-flex;
        display: flex;
        justify-content: space-between; 
        flex-wrap: wrap;
        flex-direcion: row;
        height: 80px;    
    }

    .header-btn-nav {
        display: none;
    } 

    .header-menu-list { 
        height: 80px;
    }

    .header-menu-list-item { 
        display: inline-block;
    }

    .logo {
        margin-top: 2rem;
    }
}

h1 {
	font-size: 2em;
    line-height: 1em;
	margin: 15px 0;
	font-weight: 600;
	text-transform: uppercase;
}

footer {
    background-color: white;
    width: 100%;
    text-align: center;
}

.avatar, p img{
    border-radius: 200px;
}

a {
    text-decoration: none;
    color: black;
}

nav ul {
    list-style:none;
    clear:both;   
}

nav ul li a:hover {
    background-color: rgb(174, 198, 221);
    border-radius: 15px;
    width: auto;
}

section {
    margin-top: 6rem;
	padding: 20px;
	color: white;
	background: url("https://images.unsplash.com/19/desktop.JPG?q=80&fm=jpg&s=10cf10aead07bd0897cc50bccc63ac07") no-repeat fixed center;
	text-align: center;	
	line-height: 1.3em;
}

article {
	position: left;
}

