@import url("./styleSlider.css");

/*Inicia el diseño de la pagina*/

body {
	background: white;
	color: black;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
}

/*Se implementa la metodologia First Mobile*/

.header {
    background-color: white;
    color: black;
    height: 64px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.header-mobile {
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    display: flex;
    justify-content: space-between;
}

.logo {
    order: 1;
    margin-top: 0.8rem;
    margin-left:2.5rem;    
}

.header-btn-nav {
    font-size: 1.5rem;
    order: 2;
    height: 3rem;
    margin-top: 0.8rem;
    margin-right: 2rem;
    border: 0;
    border-radius: 5px;
    background-color: white;
}

.header-menu-navbar {
    background-color: white;
}

.header-menu-list {  
    font-size: 1.2rem;  
    height: 0;
    overflow:hidden;
    -webkit-transition: height .3s ease;
       -moz-transition: height .3s ease;
         -o-transition: height .3s ease;
            transition: height .3s ease;
}

.header-menu-list--show {
    height: 300px;
}

.header-menu-list-item a {
    text-decoration: none;
    color: black;
    width: 100%;
    padding: 1.2rem;
    display: block;
}

.thumbnail img {
    width: 250px;
    margin-top: 5px;
    border: 5px solid white;
}

/*Diseño que debe tomar nuestra pagina en pantallas mayores a 768px (Tablets - PC)*/

@media (min-width: 768px) {
    .header {
        display: -webkit-flex;
        display: flex;
        justify-content: space-between; 
        flex-wrap: wrap;
        flex-direcion: row;
        height: 80px;    
    }

    .header-btn-nav {
        display: none;
    } 

    .header-menu-list { 
        height: 80px;
    }

    .header-menu-list-item { 
        display: inline-block;
    }

    .logo {
        margin-top: 1.5rem;
    }

    .perfil {
        padding: 2rem;
    }

    .container {
        margin: 0 auto; 
        overflow: hidden; 
    }

    .thumbnail {
        display: block;
        padding: 4px;
        margin-bottom: 10px;
        line-height: 1.42857143;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 4px;
    }

    .col-md-4 {
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
        width: 30%;
        float: right;
    }

   label {
        display: inline-block;
        width: 180px;
        margin-right: 20px;
    }

    .form {
        margin-top: 10px;
        margin-bottom: 10px;
        color: black;
    }

    #submit_button {
        border-radius: 15%;
        color: black;
        padding: 5px;
    }
}

/*Diseño de pagina*/

h2, h3, .perfil {
    font-size: 1.5rem;
}

h1 {
	line-height: 1em;
	margin: 15px 0;
	font-weight: 600;
	text-transform: uppercase;
}

p {
    color: white;
}

footer {
    background-color: white;
    width: 100%;
    text-align: center;
}

footer img {
    margin: 0.5rem;
}

.avatar, p img{
    border-radius: 200px;
}

footer a {
    text-decoration: none;
    color: black;
}

nav ul {
    list-style:none;
    clear:both;   
}

nav ul li a:hover {
    background-color: rgb(174, 198, 221);
    border-radius: 15px;
    width: auto;
}

section {
    margin-top: 5rem;
	padding: 20px;
	color: white;
	background: url("http://cache.preserve.io/llwgfwen/assets/2849ab7b2ff63b601b586db9c7143ece.jpg") no-repeat fixed center;
	background: transparent\9;
    text-align: center;	
	line-height: 1.3em;
}