body {
	background: white;
	color: black;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1em;
}
 
h1 {
	font-size: 2.3em;
	margin: 15px 0;
	font-weight: 600;
	text-transform: uppercase;
}

header, footer {
   background-color: white;
   width: 100%;
}

header {
	padding: 20px;
	width: 100%;
}

footer {
	text-align: center;
	font-weight: 600;
}

nav ul li {
    color: #000000;
    display: inline;
    list-style: none;
    font-weight: 600;
	text-transform: uppercase;
}

.logo {
	border-radius: 10px;
}

.avatar {
	border-radius: 200px;
}

a {
    text-decoration: none;
    color: black;
}

p a img {
	border-radius: 200px;
	text-decoration: none;
}

nav {
    float: right;
}
    nav ul {
        list-style:none;
        margin:0px;
        padding:0px;
        clear:both;       
    }
    
        nav ul li {
        	display: inline-block;
			line-height: 40px;
        }

        	nav ul li a {
        		color: black;
            	margin:0px 10px;
            	padding:30px;
            	float:left;
            	text-decoration: none;
        	}

        	   	nav ul li a:hover {
            		background-color: rgb(174, 198, 221);
            		border-radius: 15px;
        		}

section {
	padding: 20px;
	color: white;
	background: url("https://images.unsplash.com/19/desktop.JPG?q=80&fm=jpg&s=10cf10aead07bd0897cc50bccc63ac07") no-repeat fixed center;
	text-align: center;	
	line-height: 1.3em;
}

article {
	position: left;
}

    Status API Training Shop Blog About Pricing 

    © 2015 GitHub, Inc. Terms Privacy Security Contact Help 